fastapi~=0.115.12
uvicorn[standard]~=0.34.3
websockets~=15.0.1
streamlit      # frontend
pandas~=2.3.0
numpy~=1.26.4
spacy~=3.7.5
requests~=2.32.4
scikit-learn~=1.7.0
transformers~=4.52.4
sentence-transformers~=4.1.0
rank-bm25~=0.2.2
scispacy~=0.5.5
chroma-hnswlib~=0.7.6
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz
faiss-cpu~=1.11.0
